.reveal .accent-one {
  color: #7FC97F !important; 
}
.reveal .accent-two { 
  color: #BEAED4 !important; 
}
.reveal .accent-three { 
  color: #FDC086 !important; 
}
.reveal .accent-four { 
  color: #FFFF99 !important; 
}
.reveal .accent-five { 
  color: #386CB0 !important; 
}
.reveal .white-text {
  color: #ffffff !important;
}
.reveal .red-text {
  color: red !important;
}
.reveal .black-text {
  color: black !important;
}
.reveal .quarto-title-block .quarto-title-authors {
  display: block;
}

.reveal .quarto-title-block .quarto-title-authors .quarto-title-author {
  padding-left: 0;
  padding-right: 0;
}
